<div class="start">
  <!-- Main Block-->
  <div class="main-block d-flex h-100 align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="logo">
            <img src="assets/images/logo.svg" title="SoundHouse" alt="SoundHouse"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="titles">
            <h1>The House of Music.</h1>
            <p>Play and download music on your mobile, tablet and computer.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="social-login">
            <button class="btn btn-primary facebook">
              <i class="fa fa-facebook"></i> Facebook
            </button>
            <button class="btn btn-primary twitter">
              <i class="fa fa-twitter"></i> Twitter
            </button>
            <p>- OR -</p>
            <a class="btn guest-session" (click)="guestLogin()" title="Try without logging in">
              Try without logging in
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Gallery Block -->
  <div class="gallery-block d-flex h-100 align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Lorem ipsum dolor sit amet.</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
        </div>
      </div>
    </div>
  </div>
</div>
