@import '~colors.scss';

.player{
  background:$darkGrey;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:85px;
  box-shadow:0 -1px 10px $black;
  padding:0 25px;
  color:$white;
  z-index:1000;

  .titles{
    img{
      width:85px;
      height:85px;
    }
    h1{
      margin:0;
      width:100%;
      font-size:12px;
    }
    h2{
      margin:0;
      font-size:14px;
      font-weight:bold;
      display:inline-block;
    }
    button{
      padding:0;
      margin-left:10px;
      font-size:14px;
    }
  }

  .bars{
    width:100%;
    button{
      padding-top:0;
      padding-bottom:0;
    }
    .current-time{
      display:inline-block;
      min-width:40px;
    }
    .progress-bar{
      width:calc(100% - 90px);
      display:inline-block;
      background:$lightGrey;
      border-radius:5px;
      .bar{
        background:linear-gradient(to right, $pink, $purple);
        height:6px;
        border-radius:5px;
      }
    }
    .final-time{
      display:inline-block;
      min-width:40px;
    }
  }


}